body
{
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1080px;
    height: 1800px;
}
h1
{
    margin: 0;
    padding: 0;
    font-family: lora;
    font-size: 3em;
    color: #960000;
    position: absolute;
    top: 20%;
    left: 50%;
    text-shadow: 2px 2px 2px rgb(39, 39, 39);
    transform: translate(-50%, -50%);
    text-align: center;
}
div
{
    margin: 0;
    padding: 0;
    font-family: lora;
    font-size: 1.2em;
    color:white;
    position: absolute;
    top: 30%;
    left: 1%;
    text-align: left;
}

